/* navbar */

/* .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255) !important;
    font-weight: 400;
} */

#top_nav{
    padding: 0  6%;
    background-color: rgba(228, 116, 116, 0.9);
}


@media only screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,.55);
        padding: 1% 18%;
        font-size: 28px;
        border: 1px solid;
        margin: 2% 25%;
        border-radius: 15px;
    }
}


@media only screen and (max-width: 500px){
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,.55);
        padding: 1% 14%;
        font-size: 20px;
        border: 1px solid;
        margin: 2% 25%;
        border-radius: 7px;
    }
}


/* text */

#h1-texts{
    font-size: 43px;
}

#texts-p{
    font-size: 24px;
}

@media only screen and (max-width: 360px){
    #texts-p{
        font-size: 19px;
    }
}


/* backround and form */

#kbkk{
    font-weight: bold;
}

#emailss{
    color: orange;
}


/* follow kbk */

.bi{
    padding: 0 10px;
}

.bi-instagram{
    color: rgba(255, 0, 0, 0.644);
}

/* footer */

.footer h3{
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer p{
    color: white;
}


ol, ul {
    padding-left: 0;
}


.btn3{
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
}

.button3{
    text-align: left;
   margin-bottom: 30px;
}

#footer-1{
    color: white;
    text-align: center;
}

#footer1{
    color: orange;
}