/* navbar */

/* .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255) !important;
    font-weight: 400;
} */

#top_nav{
    padding: 0  6%;
    background-color: rgba(228, 116, 116, 0.9);
}


@media only screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,.55);
        padding: 1% 18%;
        font-size: 28px;
        border: 1px solid;
        margin: 2% 25%;
        border-radius: 15px;
    }
}


@media only screen and (max-width: 500px){
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,.55);
        padding: 1% 14%;
        font-size: 20px;
        border: 1px solid;
        margin: 2% 25%;
        border-radius: 7px;
    }
}


/* background */

#profile{
    background-image: url(images/meetbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 600px;
}

#profile h1{
    font-size: 40px;
    color: whitesmoke;
    margin-top: 200px;
    padding: 28px 240px;
    text-align: center;
}


@media only screen and (max-width: 1024px){
    #profile h1{
        margin-top: 130px;
        padding: 40px 20px;
    }
}

@media only screen and (max-width: 768px){
    #profile h1 {
        font-size: 38px;
        padding: 2px 24px;
    }
}

@media only screen and (max-width: 360px){
    #profile h1 {
        font-size: 17px;
        padding: 2px 2px;
        margin-top: 35px;
        width: 400px;
    }

    #profile{
        height: 230px;
    }
}

/* about meet */

#text-h2{
    font-size: 39px;
}

@media only screen and (max-width: 360px){
    #text-h2{
        font-size: 30px;
    }
}

/* image and text */
.p-text{
    text-align: justify;
}



/* follow kbk */

.bi{
    padding: 0 10px;
}

.bi-instagram{
    color: rgba(255, 0, 0, 0.644);
}


/* footer */

.footer h3{
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer p{
    color: white;
}


ol, ul {
    padding-left: 0;
}


.btn3{
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
}

.button3{
    text-align: left;
   margin-bottom: 30px;
}

#footer-1{
    color: white;
    text-align: center;
}

#footer1{
    color: orange;
}